<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scau.aotu.business.dao.ApplyUserDao">
    <cache/>

    <resultMap id="applyuserMap" type="ApplyUser">
        <result property="projectId" column="project_id"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>

    </resultMap>

    <insert id="add" parameterType="SQLAdapter">
        ${sql}
    </insert>

    <update id="update" parameterType="SQLAdapter">
        ${sql}
    </update>

    <delete id="delete" parameterType="SQLAdapter">
        ${sql}
    </delete>

    <select id="count" parameterType="SQLAdapter" resultType="Long">
        ${sql}
    </select>

    <!--这里的resultType需要修改为实际的entity-->
    <select id="get" parameterType="SQLAdapter" resultMap="applyuserMap">
        ${sql}
    </select>

    <!--这里的resultType需要修改为实际的entity-->
    <select id="list" parameterType="SQLAdapter" resultMap="applyuserMap">
        ${sql}
    </select>
</mapper>
