<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="scau.aotu.business.dao.UserDao">
    <cache/>

    <resultMap id="userMap" type="User">
        <result property="phoneNumber" column="phone_number"/>
        <result property="enterYear" column="enter_year"/>
        <result property="bornPlace" column="born_place"/>

    </resultMap>

    <insert id="add" parameterType="SQLAdapter">
        ${sql}
    </insert>

    <update id="update" parameterType="SQLAdapter">
        ${sql}
    </update>

    <delete id="delete" parameterType="SQLAdapter">
        ${sql}
    </delete>

    <select id="count" parameterType="SQLAdapter" resultType="Long">
        ${sql}
    </select>

    <!--这里的resultType需要修改为实际的entity-->
    <select id="get" parameterType="SQLAdapter" resultMap="userMap">
        ${sql}
    </select>

    <!--这里的resultType需要修改为实际的entity-->
    <select id="list" parameterType="SQLAdapter" resultMap="userMap">
        ${sql}
    </select>
</mapper>
